<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
           
            <span>@User.Identity.Name.ToLower()</span>
          
        </a>
    </span>
</div>